.main {
  max-width: var(--max-width-l);
  width: 100%;
  padding: 24px 32px;
}

.movieWrapper {
  background-color: var(--light-background);
  min-height: 648px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewsWrapper {
  margin-top: 24px;
}