.headerContainer {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--secondary-background);
  z-index: 100;
}

.header {
  padding: 0 32px;
  margin: 0 auto;
  height: 84px;
  max-width: var(--max-width-l);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-family: var(--font-main);
  color: var(--light-text-color);
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.ticketsCounter {
  background-color: var(--btn-color);
  color: var(--light-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 4px;
  min-width: 28px;
  min-height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}